.vs/
x64/
Release/
Debug/
*.pdb
*.obj
*.iobj
*.ipdb
/src/web/node_modules/*
/src/web/package.json
/src/web/package-lock.json
/src/web/.env
*.env
node_modules/
__pycache__/
client_secrets.json
token.json
tokens/