<nav>
    <div class="logo">
        <a href="/" class="nav-logo">ClassroomCLI</a>
    </div>

    <div class="hamburger-menu">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>

    <div class="nav-links-container hidden">
        <ul class="others">
            <li><a href="/cli" class="others-links">CLI</a></li>
            <li><a href="/about" class="others-links">About</a></li>
            <li><a href="/support" class="others-links">Support Us</a></li>
        </ul>
    </div>
</nav>