@import "./colors";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Aldrich", sans-serif;
}

body {
    background-color: $dark;
}

a {
    font-size: 1.3rem;
    text-decoration: none;
    color: $fadedWhite;
    transition: color 100ms linear;
    display: inline-box;

    &:hover {
        color: $white;
    }
}