@import "./defaults", "./colors";

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-bottom: 1px solid $fadedWhite;

    .hamburger-menu {
        position: absolute;
        top: 1.7rem;
        right: 2rem;
        height: 21px;
        width: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &:hover {
            cursor: pointer;

            .line {
                background-color: $dark;
            }
        }

        &.clicked {
            justify-content: center;

            .line {
                &:nth-child(1) {
                    transform: rotate(45deg) translateY(2px);
                }

                &:nth-child(2) {
                    transform: rotate(-45deg) translateY(-2px);
                }

                &:nth-child(3) {
                    display: none;
                }
            }
        }

        .line {
            height: 3px;
            width: 100%;
            background-color: $fadedWhite;
            transition: 100ms background-color linear;
        }
    }

    .nav-links-container {
        width: 100%;
        margin-top: 1.5rem;

        &.hidden {
            display: none;
        }

        ul {
            text-align: center;

            li {
                list-style: none;
            }
        }
    }
}

@media (min-width: 1024px) {
    nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .hamburger-menu {
            display: none;
        }

        .nav-links-container,
        .nav-links-container.hidden {
            display: inline-block;
            margin: 0;
            width: 270px; // Change value if new navigation bar items added

            ul {
                margin: 0;

                li {
                    display: inline-block;
                    margin-right: 1rem;

                    &:last-child {
                        margin: 0;
                    }
                }
            }
        }
    }
}