<%- include("./partials/header.ejs") %>

<!-- CSS -->

<link rel="stylesheet" href="/index/css/index.css">
</head>

<body>
    <%- include("./partials/landingNavbar.ejs") %>
    <main>
        <section id="main">
            
        </section>
    </main>

    <script src="./index/js/index.js"></script>
    <%- include("./partials/footer.ejs") %>