* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  font-size: 1.3rem;
  text-decoration: none;
  -webkit-transition: color 100ms linear;
  transition: color 100ms linear;
  display: inline-box;
  color: #818181;
  -webkit-transition: 150ms color linear;
  transition: 150ms color linear;
}

a:hover {
  color: #272727;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  font-size: 1.3rem;
  text-decoration: none;
  -webkit-transition: color 100ms linear;
  transition: color 100ms linear;
  display: inline-box;
  color: #818181;
  -webkit-transition: 150ms color linear;
  transition: 150ms color linear;
}

a:hover {
  color: #272727;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 1.5rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-bottom: 1px solid #818181;
}

nav .hamburger-menu {
  position: absolute;
  top: 1.7rem;
  right: 2rem;
  height: 21px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .hamburger-menu:hover {
  cursor: pointer;
}

nav .hamburger-menu:hover .line {
  background-color: #272727;
}

nav .hamburger-menu.clicked {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .hamburger-menu.clicked .line:nth-child(1) {
  -webkit-transform: rotate(45deg) translateY(2px);
          transform: rotate(45deg) translateY(2px);
}

nav .hamburger-menu.clicked .line:nth-child(2) {
  -webkit-transform: rotate(-45deg) translateY(-2px);
          transform: rotate(-45deg) translateY(-2px);
}

nav .hamburger-menu.clicked .line:nth-child(3) {
  display: none;
}

nav .hamburger-menu .line {
  height: 3px;
  width: 100%;
  background-color: #818181;
  -webkit-transition: 100ms background-color linear;
  transition: 100ms background-color linear;
}

nav .nav-links-container {
  width: 100%;
  margin-top: 1.5rem;
}

nav .nav-links-container.hidden {
  display: none;
}

nav .nav-links-container ul {
  text-align: center;
}

nav .nav-links-container ul li {
  list-style: none;
}

@media (min-width: 1024px) {
  nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .hamburger-menu {
    display: none;
  }
  nav .nav-links-container,
  nav .nav-links-container.hidden {
    display: inline-block;
    margin: 0;
    width: 270px;
  }
  nav .nav-links-container ul,
  nav .nav-links-container.hidden ul {
    margin: 0;
  }
  nav .nav-links-container ul li,
  nav .nav-links-container.hidden ul li {
    display: inline-block;
    margin-right: 1rem;
  }
  nav .nav-links-container ul li:last-child,
  nav .nav-links-container.hidden ul li:last-child {
    margin: 0;
  }
}
/*# sourceMappingURL=index.css.map */